@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

:root {
  --ttodock-orange: #ff5700;
  --soft-orange: #fff5f0;
  --background: #ffffff;
  --foreground: #212529;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ttodock-orange: #ff5700;
  --color-soft-orange: #fff5f0;
  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Pretendard", sans-serif;
  background: var(--background);
  color: var(--foreground);
  antialiased: true;
}
